* {
  box-sizing: border-box;
}


body {
  padding-top: 70px;
  background-color:rgb(199, 223, 233);
  /* background: linear-gradient(#87A7B3, #CDC7BE, #E1F1DD) no-repeat; */
  
}

.mainNavigation {
    font-family: 'Ballet', cursive;
    font-size: 1.2rem;
    font-weight: bold;
  }
