*{
    box-sizing: border-box;
}

.admin-main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.admin-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;   
    width: 100%;
    align-items: center;
}



/* .adminTitle-container {
    position: relative;
    text-align: left;
    background-color: blue;
} */

/* .adminTitle-container {
    position: relative;
    text-align: left;
    line-height: 5rem;
    background-color: blue;
} */

.adminTitle-container {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    /* color: white; */
    /* text-shadow: 2px 2px 4px #000000; */
    /* font-size: 1.5rem; */

    text-align: left;
    /* line-height: 4rem; */


    /* background-color: red; */

    /* background-color: blue; */
}

.admin-logoutIcon-container {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    text-align: right;
    /* height: auto; */
    /* line-height: 1.5rem; */
    /* background-color: red; */

    /* color: white; */
    font-size: 1.3rem;
    /* align-content: center; */

    /* background-color: blue; */
}

.adminTitle-texts {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5rem;
}


/* .listingSendButton-container{
    position: relative;
    text-align: right;
    line-height: 5rem;
} */


/* #listing-sendButton {
    position: relative;
    align-content: center;
 } */



 #admin-logout {
    /* cursor: pointer; */

}

#admin-logout:hover  {
    opacity: .5;
    transform: scale(1.2);
}

.admin-listing-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}




Table thead {
    font-size: .8rem;
    font-weight: bold;
    background-color: rgb(76, 81, 83);
    color: white;
    text-align: center;
}

Table thead th {
    flex-wrap: nowrap;
    color: white;
    width: 10%;
}

.column-id {
    width: 2.5%;
  }

.column-name {
    width: 5%;
  }

 .column-email {
  width: 3%;
}


Table tbody {
    font-size: .7rem;
}


.inputUserName-containier, .inputPassword-containier, .inputEmail-containier {
    position: relative;
    color: white;
    font-size: 1rem;
    align-content: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: .5rem;
    padding-bottom: 0;
}

#nameEntry, #emailEntry, #passwordEntry {
    position: relative;
    width: 100%;
    height: 2rem;
    text-align: left;
    align-content: center;
    font-size: .8rem;
    border: 1px solid #AAAAAA;
    background: none;
    border-bottom: solid 2px #382933;
    overflow: hidden;
    box-shadow: 10px 15px 20px rgba(0,0,0,0.1);
    border-radius: 5px;
}

#errorMessages {
    position: relative;
    /* margin-top: 5rem; */
    color: red;
    font-size: .8rem;
}

#addUser-button {
    position: relative;
    margin-top: 3rem;

}