.social-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .img-social {
    position: relative;
    margin: .5rem;
    width: 1.3rem;
    opacity: 1;
    /* background-color: white; */
    border-radius: 50%;
  }
  
  .img-social:hover {
    transform: scale(1.2);
    background-color: white;
    border-radius: 50%;
  }

  #footer-copyright {
    padding-top: 2rem;
    color: lightgrey;
    font-size: .7rem;
  }