.social-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .img-social {
    position: relative;
    margin: .5rem;
    width: 1.7rem;
    opacity: 1;
    /* background-color: white; */
    border-radius: 50%;
  }
  
  .img-social:hover {
    transform: scale(1.2);
    background-color: white;
    border-radius: 50%;
  }

  #footer-copyright {
    padding-top: 2rem;
    color: rgb(190, 184, 184);
    font-size: .7rem;
  }