*{
  box-sizing: border-box;
}

/* use these wit <Container className="fixed-bottom" fluid >
footer is sticky and leaves a little left and right margin 
to solve the left and right margin use this <Container id="footer" fluid >
then   <footer  >
#footer {
  position: relative;
  width: 100%;
  background-color: rgb(76, 81, 83);
} */

/* Use this with <footer id="footer" >
With this code, left and right are fluid but leaves space at the bottom when maximized
#footer {
  position: relative;
  width: 100%;
  background-color: rgb(76, 81, 83);
} */


#footer {
  /* position: relative; */
  /* width: 100%; */
  /* float: left; */
  /* height: auto; */
 
  background-color: rgb(76, 81, 83);
  /* margin-left: auto;
  margin-right: auto; */

  /* margin-top: auto; */
}



.social-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
  }
  
  .img-social {
    position: relative;
    margin: .5rem;
    width: 1.7rem;
    opacity: 1;
    /* background-color: white; */
    border-radius: 50%;
  }
  
  .img-social:hover {
    transform: scale(1.2);
    background-color: white;
    border-radius: 50%;
  }

  #footer-copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(190, 184, 184);
    font-size: .7rem;
  }