*{
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.leftSection-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;

}


.aboutMe-container {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

.imageFrame {
    position: relative;
    float: left;
    width: 15rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 15px rgb(244, 236, 236);
    clear: left;
}


#myPhoto {
    position: relative;
    width: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    /* border-radius: 50%; */

}

.homeQuote-container1, .homeQuote-container2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: .5rem;
    display: flex;
    justify-content: center;
}

.texts-experts, .texts-add {
    position: relative;
    width: 80%;
    overflow: hidden;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 14px;
    font-weight: bold;
    color: rgb(76, 81, 83);    
}

.texts-experts {
    padding-top: 1.5rem; 
}

.rightSection-container {
    position: relative;
    clear: both;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    justify-items: center; */
    align-items: center;
    margin-left: 3rem;

}


#homeHello-texts {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}




#homeMyName-texts {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}





.myName {
    /* color: rgb(4, 161, 192); */
    color: #209cbc;
    font-size: 2rem;
}

.homeAspiring-texts {
    font-size: 1.3rem;
}

.homeCurrently-texts {
    margin-top: 3rem;
    font-size: 1rem;
}

#findOutMore-button {
    cursor: pointer;
}

#findOutMore-button:hover {
    transform: translate(-.35rem) scale(1.05);
  }

/* 
.social-container {
 position: relative;
 width: 100%;
 margin: 0;
 padding: 0;
 height: auto;
}

.img-social {
 position: relative;
 display: flex;
 justify-content: space-between;
 margin-bottom: 1rem;
 width: 1rem;
 height: auto;
 color: white;
}

.img-social:hover {
 opacity: .5;
 transform: scale(1.5);
 
} */