*{
    box-sizing: border-box;
}

.home-main-container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 60vh;
    margin-top: 3rem;
    align-content: center;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
}


.section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: auto;
}

.leftSection-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
}


.aboutMe-container {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

.imageFrame {
    position: relative;
    float: left;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 20px 20px 20px rgb(244, 236, 236);
    clear: left;
}


#myPhoto {
    position: relative;
    width: 100%;
    border-radius: 50%;
}

.homeQuote-container1, .homeQuote-container2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.texts-experts, .texts-add {
    position: relative;
    width: 80%;
    overflow: hidden;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 14px;
    font-weight: bold;
    color: rgb(76, 81, 83);    
}

.texts-experts {
    padding-top: 1.5rem; 
}

.rightSection-container {
    position: relative;
    clear: both;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
}


#homeHello-texts {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


#homeMyName-texts {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: -0.015em;
}

.myName {
    color: #209cbc;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.015em;
}


.homeAspiring-texts {
    font-size: 1rem;
    text-align: center;
    letter-spacing: -0.015em;
}

.homeCurrently-texts {
    margin-top: 3rem;
    font-size: 1rem;
    text-align: center;
    letter-spacing: -0.015em;
}

#findOutMore-button {
    cursor: pointer;
    font-size: 1rem;
}

#findOutMore-button:hover {
    transform: translate(-.35rem) scale(1.05);
}

