*{
    box-sizing: border-box;
}

.submission-listing-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.listing-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;   
    width: 100%;
    align-items: center;
}

.listingTitle-container {
    position: relative;
    text-align: left;
    line-height: 5rem;
}

/* .listingSendButton-container{
    position: relative;
    text-align: right;
    line-height: 5rem;
} */


/* #listing-sendButton {
    position: relative;
    align-content: center;
 } */

 .listing-logoutIcon-container {
    position: relative;
    text-align: right;
    line-height: 5rem;

    /* color: white; */
    font-size: 1.3rem;
    /* align-content: center; */

    /* background-color: red; */
}

 #listing-logout {
    /* cursor: pointer; */

}

#listing-logout:hover  {
    opacity: .5;
    transform: scale(1.2);
}




.listingTitle-container .listingTitle-texts {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5rem;
}

Table thead {
    font-size: .8rem;
    font-weight: bold;
    background-color: rgb(76, 81, 83);
    color: white;
    text-align: center;
}

Table thead th {
    flex-wrap: nowrap;
    color: white;
    width: 10%;
}

.column-id {
    width: 7%;
  }

.column-name {
    width: 5%;
  }

 .column-phone, .column-email {
  width: 3%;
}


Table tbody {
    font-size: .7rem;
}




