#txtQuote-container {
    height: 5px;
  }
  
  
  .txtQuote {
      position: relative;
      width: 100%;
      font-family: 'Courgette', cursive;
      font-size: 18px;
      text-align: center;
      color: #276678;    
      font-weight: bold;
      margin-top: 0;
  }
  
  .txtTakeAlook {
      position: relative;
      width: 100%;
      font-size: 16px;
      text-align: center;
      align-content: center;
      color: #276678;    
  }
  
  #portfolio-card-container {
      position: relative;
      display: flex;  
      height: auto;
      margin-top: 2rem;
      border-radius: 5px;
      box-shadow: 5px 10px 8px #888888;
      width: 100%;
  }

  #portfolio-cardImage-creativeResonance:hover {
    transform: scale(1.2);
  }

  
  #portfolio-cardTitle {
      font-size: 14px;
      text-align: center;
  }
  
  #portfolio-cardSubTitle {
      font-size: 10px;
      text-align: center;
  }
  
  #portfolio-cardText {
      font-size: 9px;
      text-align: center;
  }
  
  .portfolio-cardImage-container {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  
  #portfolio-cardImage-creativeResonance {
      margin-top: 1rem;
      width: 100%;
      position: relative;
      border: black solid;
  }



