#txtQuote-container {
    height: 5px;
  
  
  }
  
  
  .txtQuote {
  
  
      /* float: left; */
      position: relative;
      /* height: 35px; */
      width: 100%;
      /*border: 2px solid black;*/
      /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  
      font-family: 'Courgette', cursive;
      font-size: 18px;
      text-align: center;
      /* align-content: center; */
      /*margin-top: 50px;    */
  
      color: #276678;    
      /* margin-top: 5px; */
      font-weight: bold;
      margin-top: 0;
  
  }
  
  .txtTakeAlook {
      /* float: left; */
      position: relative;
      /* height: 35px; */
      width: 100%;
      /* margin-top: 15px; */
      /*border: 2px solid black;*/
      /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
  
      /* font-family: 'Courgette', cursive; */
      font-size: 16px;
      text-align: center;
      align-content: center;
      /*margin-top: 50px;    */
  
      color: #276678;    
      /* margin-top: 10px; */
      /* font-weight: bold; */
  
  
  }
  
  #portfolio-card-container {
      /* border: 1px solid; */
      /* height: 22rem; */
      height: auto;
      padding: 10px;
      border-radius: 5px;
      /* margin-bottom: 1rem; */
      box-shadow: 5px 10px 8px #888888;
  
      /* border: 1px solid; */
      /* padding: 10px;
      box-shadow: 5px 10px 18px #888888; */
     
  }

  #portfolio-cardImage-creativeResonance:hover {
    transform: scale(1.2);

  }

  
  
  #portfolio-cardTitle {
      font-size: 14px;
      text-align: center;
  }
  
  #portfolio-cardSubTitle {
      font-size: 10px;
      text-align: center;
  }
  
  #portfolio-cardText {
      font-size: 9px;
      text-align: center;
  }
  
  .portfolio-cardImage-container {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  
  #portfolio-cardImage-creativeResonance {
      margin-top: 1rem;
      width: 100%;
      position: relative;
      /* border-radius: 50%; */
      border: black solid;
  
      /* animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; */
  }
  
  /* @keyframes spin {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  } */
  
  
  /* #portfolio-cardImage-photoGallery  {
      margin-top: 1rem;
      width: 100%;
      position: relative;
      animation-name: grow;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  } */
  
  /* @keyframes grow {
      from{
          height:0px;
          width: 0px;
      }
      to{
          height: 98px;
          width: 98px;
      }
  } */
  
  /* #portfolio-cardImage-todoApp {
      margin-top: 1rem;
      width: 100%;
      position: relative;
      animation-name: linear;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  @keyframes linear {
      0%   {left:-50%; top:0;}
      25%  {left:50%; top:0;}
      50%  {left:-50%; top:0;}
      75%  {left:50%; top:0;}
      100% {left:-50%; top:0;}
  } */
  
  #portfolio-collapse-button {
      cursor: pointer;
  }
  
  #portfolio-collapse-button:hover {
      transform: translate(-.35rem) scale(1.05);
    }