.portfolio-cardImage-container {
    margin-top: 2rem;
}

.portfolio-cardImage-container:hover {
    transform: scale(1.3);
}


.portfolio-card-links {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* border-style: solid; */
}

 
 
 .portfolio-showmore-icon {
    position: relative;
    height: auto;
    width: 5rem;
    font-size: 1.5rem;
    color: grey;
    /* border-style: solid; */
 }


.portfolio-showmore-icon:hover {
    transform: scale(1.3);
    color: rgb(16, 222, 230);
}
  
.portfolio-gitLink-icon:hover {
    transform: scale(1.3);
    color: rgb(16, 222, 230);
}

.portfolio-gitLink-icon {
    color: grey;
    font-size: 1.5rem;
}


 .portfolio-showmore-icon {
    cursor: pointer;
    color: grey;
}


.portfolio-collapse {
    margin-top: .8rem;
    font-size: .7rem;
    text-align: center;
}