.portfolio-card-links {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* border-style: solid; */
}

 
 
 .portfolio-collapse-icon {
    position: relative;
    height: auto;
    width: 2rem;
    /* border-style: solid; */
 }


.portfolio-collapse-icon:hover {
    transform: scale(1.5);
}
  
.portfolio-gitLink-icon:hover {
    transform: scale(1.5);
}




 .portfolio-collapse-icon {
    cursor: pointer;
}


.portfolio-collapse {
    margin-top: .8rem;
    font-size: .7rem;
    text-align: center;
}


