* {
  box-sizing: border-box;
  /* overflow: auto; */
}

#placeholder {
  visibility: hidden;
  height: 50px;
}

#sidebar {
  position: relative;

  margin: 0;
  padding: 0;
  margin-top: 1rem;  
  /* margin-left: 2rem; */
  width: 100%;
  height: auto;

  /* border-style: solid 3px red; */
  /* background-color: red; */
}

.verticalNavBar {
  position: relative;
  /* float: left; */
  /* padding-top: 4rem; */
  /* margin-top: 13rem; */
  /* padding-top: 10rem; */
  /* width: 90%; */
  padding-left: 2rem;
  height: auto;
  /* min-height: 646px; */
  background-color: transparent;
  
  
}


.verticalNavBar-ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 15%; */
  /* position: fixed; */
  /* height: 100%; */
  /* overflow: auto; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

  text-align: center;
  justify-content:space-around;
  /* padding-top: 2rem; */
  /* padding-top: 1rem; */
  /* text-shadow: black; */
  /* background-color: whitesmoke; */
  color: white;
  text-shadow: 2px 2px 4px #000000;
  
}


.verticalNavBar-li a {
  display: block;
  /* color: white;   */
  /* color: rgb(40, 187, 187); */
  color: white;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
} 


.verticalNavBar-li a:hover {
  /* background-color:#655C56; */
  /* background-color: rgb(27, 165, 165); */
  background-color: white;
}

#resume-container {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  height: auto;
  margin-top: 1rem;
  margin-right: 4rem;
  margin-left: 4rem;
  /* background-color: blue; */
  background-color: lightblue;  
}

.resume-header-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* padding: 3rem; */
  background-color: #444444;
}


/* .resumeHeader {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%; 
  height: auto;
  color: seashell;
} */

#objective-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem;
  /* background-color: black; */
}

/* .objective { */
  /* position: relative;
  width: 100%;
  height: auto; */
  /* padding-bottom: 2rem; */
  /* padding-left: 5rem; */
  /* background-color: #444444; */

/* } */

.objectiveTitle {
  position: relative;
  /* width: 100%; */
  height: auto;
  font-weight: bold;
  font-size: 14px;
  /* margin-top: 1rem; */
  color: white;
  /* padding-bottom: 2rem; */
}

.objective {
  position: relative;
  /* width: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

#contactInfo-container {
  position: relative;
  height: auto;
  padding-top: 2rem;
  /* margin-left: 1rem; */
  /* background-color: black;   */
}



/* .contactInfo {
  position: relative;
  width: 100%;
  min-height: 110px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  background-color: #444444;

} */


.telephone, .email, .address {
  /* width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white; */

  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;


}

.telephone, .email {
  /* margin-top: 1px; */

  
}

.address {
  /* margin-top: 2rem; */

}

/* .resumeContent {
  width: 100%;
  height: auto;
  align-content: center;
  text-align: center;
  background-color: lightblue;
  
} */



.highlights-container, .experience-container, .education-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  /* padding-left: 1rem; */
  /* margin-bottom: 2rem; */
  /* padding: 2rem; */
  font-size: .8rem;
  text-align: left;
}




.highlightsTitle, .experienceTitle, .educationTitle {
  border: 5px solid white;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #444444;
  color: white;
}

.experienceTitle, .educationTitle {
  margin-top: 3rem;

}

.highlights-contents-container, .experience-contents-container, .education-contents-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 3rem 5rem 3rem 5rem;

  /* background-color: red; */


}

/* .highlights-ul.a {
  list-style-type: circle;
  color: black;
} */


.mainBullet {
  /* padding-top: 3rem; */

  
}



/* .mainBullet li {
  text-decoration: dotted;
} */

/* .job-top, .education-top {
  padding-top: 3rem;
  padding-left: 1.5rem;
  width: 100%;
} */

.job, .education {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
}
 #top-experience, #top-education {
  padding-left: 2rem;
  /* padding-bottom: 5rem; */
}

#top {
  padding-left: 2rem;
}

/* Responsive layout - when the screen is less than 600px wide, adjust the left margin of vertical navbar*/
@media screen and (max-width: 600px) {
  .verticalNavBar {
    padding-left: 0;
  }
  
}