* {
  box-sizing: border-box;
}

#placeholder {
  visibility: hidden;
  height: 50px;
}

#sidebar {
  position: relative;

  margin: 0;
  padding: 0;
  margin-top: 1rem;  
  width: 100%;
  height: auto;
}

.verticalNavBar {
  position: relative;
  padding-left: 2rem;
  height: auto;
  background-color: transparent;
}


.verticalNavBar-ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  justify-content:space-around;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


.verticalNavBar-li a {
  display: block;
  color: white;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
} 


.verticalNavBar-li a:hover {
  background-color: rgb(76, 81, 83);
}

#resume-container {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  height: auto;
  margin-top: 1rem;
  margin-right: 4rem;
  margin-left: 4rem;
  background-color: lightblue;  
}

.resume-header-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(76, 81, 83);
}


#objective-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem;
}


.objectiveTitle {
  position: relative;
  height: auto;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.objective {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

#contactInfo-container {
  position: relative;
  height: auto;
  padding-top: 2rem;
  padding-left: 2rem;
}


.telephone, .email, .address {
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  padding-bottom: 1rem;

}


.highlights-container, .experience-container, .education-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: .8rem;
  text-align: left;
  text-justify: auto;
}




.highlightsTitle, .experienceTitle, .educationTitle {
  position: relative;
  border: 5px solid white;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(76, 81, 83);
  color: white;
}

.experienceTitle, .educationTitle {
  margin-top: 3rem;
}


.highlights-contents-container, .experience-contents-container, .education-contents-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 3rem 5rem 3rem 5rem;
  text-justify: auto;
}


.mainBullet {
  position: relative;
  display: flex;
  flex-direction: column;
}


ul li {
  text-justify: auto;
  word-wrap: normal;
}


.job, .education {
  padding-top: .5rem;
  padding-left: 1.5rem;
  width: 100%;
}


 #top-experience, #top-education {
  padding-left: 2.5rem;
  outline: none;
}

#top {
  padding-left: 2.5rem;
  outline: none;  
}


